<app-header></app-header>
<div class="container">
    <app-sidebar></app-sidebar>
    <main class="content">
        <div class="">
            <div class="title">Respaldo en Nube</div>
            <p class="text">
                Aquí usted podrá subir a su OneDrive como respaldo la información de Sound Water. Haga clic en sincronizar.
            </p>

            <!-- Botón de Sincronizar -->
            <button type="submit" class="full-width">Sincronizar</button>
        </div>
    </main>
</div>
<app-footer></app-footer>