.container {
    display: flex;
    height: 100vh;
  }
  
  app-sidebar {
    width: 25%;
    background-color: #f8f9fa;
  }
  
  .content {
    width: 75%;
    color: #030303;
    font-size: 64px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 83px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text {
    color: #030303;
    font-size: 18px;
    font-family: "Roboto";
    line-height: 24.5px;
  }
  